# Stock price Analysis

In [36]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import statsmodels.api as sm 
# % matplotlib inline

### Loading Equity group stock data

In [46]:
equity =  pd.read_csv("data/EABLPrices.csv")
equity.head()

       Date   Open   High    Low   Close   Volume
0  10/27/23  132.0  132.0  127.0  128.50    16900
1  10/26/23  133.0  133.0  131.5  131.50     7900
2  10/25/23  134.0  134.0  132.0  132.25      600
3  10/24/23  134.0  134.0  130.0  131.50     3300
4  10/23/23  134.0  134.0  131.0  131.75     3300

In [47]:
#function to conver date from object to Datetime
def to_date_time(df):
    df["Date"] = pd.to_datetime(df["Date"])

In [49]:
to_date_time(equity)

In [50]:
equity.describe()

,Date,Open,High,Low,Close,Volume
count,747,747.000000,747.000000,747.000000,747.000000,7.470000e+02
mean,2022-04-26 09:57:35.421686528,159.477577,160.807898,157.410308,158.940763,2.101576e+05
min,2020-10-29 00:00:00,114.000000,115.000000,110.000000,110.000000,1.000000e+02
25%,2021-07-27 12:00:00,150.000000,150.500000,148.875000,149.750000,9.950000e+03
50%,2022-04-22 00:00:00,160.000000,162.000000,158.000000,160.000000,5.240000e+04
75%,2023-01-26 12:00:00,170.000000,172.000000,169.000000,170.000000,2.259000e+05
max,2023-10-27 00:00:00,192.000000,194.000000,192.000000,193.750000,5.066600e+06
std,NaN,15.152655,15.224738,15.400659,15.466655,4.395368e+05

In [51]:
equity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747 entries, 0 to 746
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     747 non-null    datetime64[ns]
 1    Open    747 non-null    float64
 2    High    747 non-null    float64
 3    Low     747 non-null    float64
 4    Close   747 non-null    float64
 5    Volume  747 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 35.1 KB

In [54]:
equity.isna().sum()

Date       0
 Open      0
 High      0
 Low       0
 Close     0
 Volume    0
dtype: int64